@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('./styles/header.style.css');
@import url('./styles/footer.style.css');
@import url('./styles/category.card.normal.style.css');
@import url('./styles/category.card.small.style.css');
@import url('./styles/video.card.normal.style.css');
@import url('./styles/video.card.small.style.css');
@import url('./styles/image.card.small.style.css');
@import url('./styles/home.style.css');
@import url('./styles/home.style.small.css');
@import url('./styles/category.style.css');
@import url('./styles/category.style.small.css');
@import url('./styles/blog.style.css');
@import url('./styles/blog.style.small.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Open Sans", sans-serif; */
}

:root {
    --primary-color: #45D26D;
    --secondry-color: #89EEA6;
    --accent-color: #56F483;
    --background-color: #F5FBF7;

    --font-color: #1c1c1c;
    --font-color-secondary: #5B5B5B;

    --Fsize-title: 24px;
    --Fsize-subtitle: 19px;
    --Fsize-regular: 16px;
    --Fsize-mid: 14px;
    --Fsize-min: 12px;

    --FF-opensans: "Open Sans", sans-serif;
    --FF-rubik: "Rubik", sans-serif;
    --FF-belanosima: 'Belanosima';
    --FF-cairo: "Cairo", sans-serif;
}

body{
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--background-color);
}

button {
    outline: 0;
    border: 0;
    padding: 4px 16px;
    height: 38px;
    width: 113px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

button p {
    font-size: var(--Fsize-regular);
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

/* @media screen AND (max-width: 700px){
    :root {
        --Fsize-title: 20px;
        --Fsize-subtitle: 15px;
        --Fsize-regular: 12px;
        --Fsize-mid: 10px;
        --Fsize-min: 8px;
    }

    
} */

.home-page.hidden{
    display: none;
    transition: all 0.3s ease-in-out;
}

.category-page.hidden{
    display: none;
    transition: all 0.3s ease-in-out;
}
